{erl_opts, [debug_info, warn_export_vars, warn_shadow_vars, warn_obsolete_guard]}.

{plugins, [rebar3_elixir, rebar3_hex]}.

{deps, [
        {lager, "~> 3.2.0"},
        {texas_adapter, {git, "https://github.com/emedia-project/texas_adapter.git", {branch,  "master"}}},
        {bucs, "~> 1.0.3"},
        {epgsql, "~> 3.2"}
       ]}.

